[Unit]
Description=4x4 Rover CAM service
After=network.target
[Service]
Restart=on-failure
WorkDir=/home/pi/4x4-rover/cam/
ExecStart=/usr/bin/python3 /home/pi/4x4-rover/cam/picam.py
User=pi
[Install]
WantedBy=multi-user.target
